<div>
    <h1 class="title">Character Found</h1>
    <h2 class="smalltitle">Search term: {{searchterm}}</h2>
    <ul class="result">
        {{#each characters}}
        <li class="item">
            <a href="{{link}}">{{name}}</a>
        </li>
        {{/each}}
    </ul>


</div>